.item-card2 {
    box-shadow: 2px 4px 5px lightgray;;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10%;
    .img-small {
        display: flex;
        flex-direction: column;
        .img2 {
            margin: 10px;
            width: 150px;
            height: 150px;
        }
    }
    .img-big {
        display: flex;
        margin: 10px;
        .img1 {
            margin: 15px;
            width: 600px;
            height: 500px;
            display: flex;
            border-radius: 10%;
        }
    }   
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            .stock2 {
                margin: 5px;
                text-align: center;
                font-size: 12px;
            }
            .comprar2 {
                margin-top: 10px;
                width: 60%;
                cursor: pointer;
                &:hover {
                    background-color: #429595;
                    transition:all .9s ease-in-out;
            }
            h2 {
                font-size: 25px;
            }
    }
}
}