.home {
    .carousel {

        width: 95%;
        margin: auto;
        margin-bottom: 20px;
    }
    .cardsInfo {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        .cardsBox {
            margin-right: 10px;
        }
    }

}

@media all and (max-width: 426px) {
    .home {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 180px;
                    }
                }
            }
        }
    }
}
