
.navbar-primary {
    width: 90%;
    margin: auto;
    box-shadow: 2px 4px 5px lightgray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
        & ul li:hover .submenu {
            display: block;
            position: absolute;
            margin-left: -70px;
        }
        &:hover .submenu ul {
            display: block;
            margin: 10px;
        }
    .submenu {
        display: none;
    }
    img {
        width: 150px;
        height: 150px;
    }
    .cart {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    ul {
        list-style: none;
        display: flex;
        margin: auto;
        li {
            margin: 0px 40px;
            button {
                border: none;
                background: none;
                font-size: 20px;
                cursor: pointer;
                text-transform: uppercase;
                &:hover {
                    background-color: #429595;
                    transition:all .9s ease-in-out;
                }
            }
            .button2 {
                font-size: 12px;
                text-align: center;
                text-decoration: none;
            }
        }        
    } 
}


