.pie {
    background-color: lightgray;
    padding-top: 20px;
    font-size: 12px;
    width: 90%;
    margin: auto;
    text-align: center;
    .footerContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        width: 100%;
        .footerLinks {
            a {
                color: black;
                text-decoration: none;

            }
        }
        .footerSocials {
            svg {
                cursor: pointer;
                width: 25px;
                margin: 25px;
                margin-top: 50px;
            }
        }
        h3 {
            text-align: center;
            margin-bottom: 30px;
        }
    } 
    .copyright {
        background-color: black;
        margin-top: 20px;
        font-size: 12px;
        color: white;
        text-align: center;
    }
    div h3 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 10px;
    }

}


@media all and (max-width: 426px) {
    .pie {
        .footerContainer {
            width: 95%;
            .footerSocials {
                svg {
                    cursor: pointer;
                    width: 25px;
                    margin: 25px;
                    margin-top: 25px;
                }
            }
            h3 {
                text-align: center;
                margin-bottom: 30px;
            }
        } 
        .copyright {
            background-color: black;
            margin-top: 20px;
            font-size: 12px;
            color: white;
            text-align: center;
        }
        div h3 {
            font-weight: bold;
            font-size: 15px;
            padding-top: 10px;
        }
    
    }
}
