@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.containerPrin {
  .titulo {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 40px;
  }
  
}