.contProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .contador {
      margin: 10px;
  }
}

.swal-modal {
  color: white;
  .swal-icon {
    margin-top: 10px;
    }
    .swal-footer {
      .swal-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }
}
  
  
  